body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif; color: white}

body {background: #008080}

body {font-size:16px;}

w3-light-grey {background-color: aqua}

.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}

.w3-half img:hover{opacity:1}

#content { position: relative;}
    
#content img { position: absolute; top: 0px; left: 0px; width: 200px}

#sun img {position: absolute; top: 0px; right: 0px; width: 400px}

.categoriesSideBar {width: 50%}
